<meta charset="utf-8" ng-controller="SystemUserController"/>
<link rel="stylesheet" href="../pagecss/system_user.css" />
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<ol class="breadcrumb">
			  	<li><a ui-sref="index">控制台</a></li>
			  	<li><a ui-sref="index">系统设置</a></li>
			  	<li><a ui-sref="index.system_user">系统用户配置</a></li>
			</ol>
		</div>
	</div>
</div>

<!-- JustFresh 顶部NAV切换及操作链接部分 -->
<div class="container-fluid">
	<div class="row">
		<div class="tab-nav">
			<ul class="pull-left">
				<li class="selected"><a ui-sref="index.ads">系统用户</a></li>
			</ul>
			<div class="opts pull-right">
				<a ui-sref="index.system_user_mng" class="btn btn-success"><i class="fa fa-plus"></i> 添加系统用户</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<!-- JustFresh 条件查询表单部分 -->
<div class="conditions container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="search-form pull-right">
				<form ng-submit="searchPaging()">
					<span class="form-element">
						<label>用户名：</label>
						<input type="text" class="input-text" ng-model="paginationConf.userName" />
					</span>
					<span class="form-element">
						<label>联系电话：</label>
						<input type="text" class="input-text" ng-model="paginationConf.userPhone" />
					</span>
					<span class="form-element">
						<label>分页数：</label>
						<select ng-init="pageNum=paginationConf.perPageOptions" class="input-select" ng-change="showPage(pagingInfo.order,pagingInfo.sort,pagingInfo.startIndex,paginationConf.rows)" ng-model="paginationConf.rows">
							<option ng-selected="paginationConf.rows==num" value="{{num}}" ng-repeat="num in pageNum">--{{num}}--</option>
							
						</select>
					</span>
					<span class="form-element">
						<button type="submit" class="btn btn-warning"><i class="fa fa-search"></i> 搜索</button>
					</span>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- JustFresh 条件查询表单部分 -->

<div class="clearfix"></div>
<div class="main-body container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>用户编码</th>
						<th>用户名</th>
						<th>联系电话</th>
						<th>等级</th>
						<th>职位</th>
						<th>状态</th>
						<th style="text-align: center;width: 200px;">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="systemUser in pagingInfo.data | orderBy : 'id' ">
						<td><input type="checkbox" value="{{systemUser.id}}" name="systemUserIds" /></td>
						<td>{{systemUser.userCode}}</td>
						<td>{{systemUser.userName}}</td>
						<td>{{systemUser.userPhone}}</td>
						<td>{{systemUser.userLevel}}</td>
						<td>{{systemUser.userPosition}}</td>
						<td>
							<div ng-if="systemUser.userStatus == 1">
								<span class="label label-success" style="display: inline-block;">启用</span>
							</div>
							<div ng-if="systemUser.userStatus == 0">
								<span class="label label-danger" style="display: inline-block;">禁用</span>
							</div>
						</td>
						<td>
							<a ng-if="systemUser.userStatus == 0" ng-click="changeStatus(systemUser.id,1)" class="btn-outline btn-outline-success">启用</a>
							<a ng-if="systemUser.userStatus == 1" ng-click="changeStatus(systemUser.id,0)" class="btn-outline btn-outline-danger">禁用</a>
							<a ui-sref="index.system_user_mng({id:systemUser.id})" class="btn-outline btn-outline-success">编辑</a>
							<a ng-click="remove(systemUser.id)" class="btn-outline btn-outline-danger">删除</a>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="10">
							<div class="paging-info pull-left">
								<span class="total" style="margin-right: 20px;">共有{{pagingInfo.totalCount}}条数据</span>
								<span class="">第{{pagingInfo.currentPage}}/{{pagingInfo.totalPages}}页</span>
							</div>
							<ul class="pagination navigation pull-right" style="margin: 0px;">
								<li ng-show="pagingInfo.currentPage > 1"><a ng-click="showPage(pagingInfo.order,pagingInfo.sort,pagingInfo.startIndex,pagingInfo.pageSize)">首页</a></li>
								<li ng-show="pagingInfo.currentPage > 1"><a ng-click="showPage(pagingInfo.order,pagingInfo.sort,pagingInfo.previousPage,pagingInfo.pageSize)">上一页</a></li> 
								<li ng-repeat="pageNum in pagingInfo.pageBar">
									<a ng-if="pageNum == pagingInfo.currentPage" class="selected" ng-click="showPage(pagingInfo.order,pagingInfo.sort,pageNum,pagingInfo.pageSize)">{{pageNum}}</a>
									<a ng-if="pageNum != pagingInfo.currentPage" ng-click="showPage(pagingInfo.order,pagingInfo.sort,pageNum,pagingInfo.pageSize)">{{pageNum}}</a>
								</li>
								<li ng-show="pagingInfo.currentPage < pagingInfo.totalPages"><a ng-click="showPage(pagingInfo.order,pagingInfo.sort,pagingInfo.nextPage,pagingInfo.pageSize)">下一页</a></li>
								<li ng-show="pagingInfo.currentPage < pagingInfo.totalPages"><a ng-click="showPage(pagingInfo.order,pagingInfo.sort,pagingInfo.endIndex,pagingInfo.pageSize)">尾页</a></li>
							</ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>

<!-- JustFresh 底部操作按钮列表部分 -->
<div class="clearfix"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="bottom-opts">
				<input type="checkbox" name="checkall" ng-click="changeCheckboxStatus('systemUserIds')" />
				<a ng-click="batchRemove('systemUserIds')" class="btn-outline btn-outline-default">批量删除</a>
			</div>
		</div>
	</div>
</div>

<div style="height: 50px;width: 100%;"></div>