
<!-- JustFresh 2017-04-10 begin 注册主体部分 -->
<div class="pjh-container">
	<div class="steps">
		<ul>
			<li class="selected">
				<i class="fa fa-male"></i>
				<p>选择服务商</p>
				<p class="num">1</p>
			</li>
			<li class="selected">
				<i class="fa fa-database"></i>
				<p>基本信息填写</p>
				<p class="num">2</p>
			</li>
			<li class="selected">
				<i class="fa fa-cubes"></i>
				<p>生产经营地填写</p>
				<p class="num">3</p>
			</li>
			<li class="selected">
				<i class="fa fa-server"></i>
				<p>选择支付类型</p>
				<p class="num">4</p>
			</li>
			<li class="selected">
				<i class="fa fa-upload"></i>
				<p>附件上传</p>
				<p class="num">5</p>
			</li>
			<li class="selected">
				<i class="fa fa-child"></i>
				<p>确认注册信息</p>
				<p class="num">6</p>
			</li>
			<li class="selected">
				<i class="fa fa-check"></i>
				<p>注册成功</p>
				<p class="num">7</p>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
	<div class="box">
		<h3 style="margin-bottom: 30px;">申请公司注册成功，请等待服务商联系您......</h3>
	</div>
	<div class="clearfix"></div>
	<div class="operation">
		<a href="enclosure.html" class="prev">信息有误，返回上一步</a>
	</div>
</div>
<!-- JustFresh 2017-04-10 end 注册主体部分 -->