<!-- PJH 1102 begin Logo和搜索框部分 -->
<div class="pjh-container">
	<!-- Logo -->
	<div id="logo">
		<a href="javascript: void(0)"><img src="/taxation-web/images/logo.png" alt="捷迅财税服务网" title="捷迅财税服务网"/></a>
		<span style="font-size: 30px;font-weight: bold;color:#666;">工商注册</span>
	</div>
	<!-- 搜索框 -->
	<div id="top-search">
		<div class="search-form">
			
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- 购物车下拉 -->
	<div id="top-cart" class="pull-right">
		
	</div>
</div>
<div class="clearfix"></div>
<!-- PJH 1102 end Logo和搜索框部分 -->

<!-- JustFresh 2017-04-10 begin 注册主体部分 -->
<div class="pjh-container">
	<div class="steps">
		<ul>
			<li class="selected">
				<i class="fa fa-male"></i>
				<p>选择服务商</p>
				<p class="num">1</p>
			</li>
			<li class="selected">
				<i class="fa fa-database"></i>
				<p>基本信息填写</p>
				<p class="num">2</p>
			</li>
			<li class="selected">
				<i class="fa fa-cubes"></i>
				<p>生产经营地填写</p>
				<p class="num">3</p>
			</li>
			<li>
				<i class="fa fa-server"></i>
				<p>选择支付类型</p>
				<p class="num">4</p>
			</li>
			<li>
				<i class="fa fa-upload"></i>
				<p>附件上传</p>
				<p class="num">5</p>
			</li>
			<li>
				<i class="fa fa-child"></i>
				<p>确认注册信息</p>
				<p class="num">6</p>
			</li>
			<li>
				<i class="fa fa-check"></i>
				<p>注册成功</p>
				<p class="num">7</p>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
	<div class="box">
		<div class="box-form">
			<div class="input-line colspan">
				工商注册——生产经营地填写
			</div>
			<div id="product-place" class="input-line">
				<label>经营场所性质：</label>
				<span class="check-block">商业租用<input type="hidden" value="1"/></span>
				<span class="check-block">商业自有<input type="hidden" value="2"/></span>
				<span class="check-block">住房租用<input type="hidden" value="3"/></span>
				<span class="check-block">住房自有<input type="hidden" value="4"/></span>
			</div>
			<div id="product-type" class="input-line">
				<label>生产经营类别：</label>
				<span class="check-block">餐饮业<input type="hidden" value="1"/></span>
				<span class="check-block">商业<input type="hidden" value="2"/></span>
				<span class="check-block">服务业<input type="hidden" value="3"/></span>
				<span class="check-block">娱乐业<input type="hidden" value="4"/></span>
				<span class="check-block">其他<input type="hidden" value="99"/></span>
			</div>
			<div class="input-line">
				<label>生产经营区域：</label>
				 <select class="input-select" ng-model="province" ng-options="s.name for s in list" ng-change="c()">
					 <option value="">省份</option>
				 </select>
				 <select class="input-select" ng-model="city" ng-options="sh.name for sh in province.child" ng-change="c2()">
					 <option value="">市/区</option>
				 </select>
				 <select class="input-select" ng-model="area" ng-options="x.value for x in city.child" ng-change="c3()">
					 <option value="">县级/区域</option>
				 </select>
			</div>
			<div class="input-line" style="height: 210px;line-height: 210px;">
				<label>详细地址：</label>
				<textarea class="input-textarea" rows="4" ng-model="address" required="required"></textarea>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="operation">
		<a href="javascript: void(0)" class="prev" ui-sref="index.baseInfo">信息有误，返回上一步</a>
		<a href="javascript: void(0)" class="next" ng-click="gotoEnclosure()">信息正确，进入下一步</a>
	</div>
</div>
<!-- JustFresh 2017-04-10 end 注册主体部分 -->