<div class="pjh-container" style="margin-bottom: 20px;">
	<ul id="bottom-articles" class="pull-left border-right">
		<li>
			<dl>
				<dt><a href="javascript: void(0)">帮助中心</a></dt>
				<dd><a href="javascript: void(0)">如何搜索</a></dd>
				<dd><a href="javascript: void(0)">积分兑换说明</a></dd>
				<dd><a href="javascript: void(0)">我要买</a></dd>
				<dd><a href="javascript: void(0)">如何注册会员</a></dd>
				<dd><a href="javascript: void(0)">如何注册会员</a></dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><a href="javascript: void(0)">支付方式</a></dt>
				<dd><a href="javascript: void(0)">如何注册支付宝</a></dd>
				<dd><a href="javascript: void(0)">网银支付</a></dd>
				<dd><a href="javascript: void(0)">分期付款</a></dd>
				<dd><a href="javascript: void(0)">货到付款</a></dd>
				<dd><a href="javascript: void(0)">如何注册会员</a></dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><a href="javascript: void(0)">售后服务</a></dt>
				<dd><a href="javascript: void(0)">返修/退换货</a></dd>
				<dd><a href="javascript: void(0)">联系卖家</a></dd>
				<dd><a href="javascript: void(0)">退换货政策</a></dd>
				<dd><a href="javascript: void(0)">退换货流程</a></dd>
				<dd><a href="javascript: void(0)">如何注册会员</a></dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><a href="javascript: void(0)">客服中心</a></dt>
				<dd><a href="javascript: void(0)">修改会员资料</a></dd>
				<dd><a href="javascript: void(0)">修改收货地址</a></dd>
				<dd><a href="javascript: void(0)">修改会员密码</a></dd>
				<dd><a href="javascript: void(0)">修改支付密码</a></dd>
				<dd><a href="javascript: void(0)">如何注册会员</a></dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><a href="javascript: void(0)">购物指南</a></dt>
				<dd><a href="javascript: void(0)">购物流程</a></dd>
				<dd><a href="javascript: void(0)">会员介绍</a></dd>
				<dd><a href="javascript: void(0)">常见问题</a></dd>
				<dd><a href="javascript: void(0)">大家电</a></dd>
				<dd><a href="javascript: void(0)">如何注册会员</a></dd>
			</dl>
		</li>
	</ul>
	<div class="bottom-help pull-right">
		<div class="phone-number">
			<i class="fa fa-mobile"></i>
			400-872-7575
		</div>
		<div class="clearfix"></div>
		<div class="email-address">
			<i class="fa fa-envelope-o"></i>
			991058975@qq.com
		</div>
		<div class="clearfix"></div>
		<div class="download-apk">
			<ul>
				<li>
					<dl>
						<dt><a href="javascript: void(0)">Andorid版</a></dt>
						<dd>
							<a href="javascript: void(0)"><img src="/taxation-web/images/android.png" width="75px" height="75px" /></a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="javascript: void(0)">IOS版</a></dt>
						<dd>
							<a href="javascript: void(0)"><img src="/taxation-web/images/ios.png" width="75px" height="75px" /></a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="clearfix"></div>