<div id="guessYourLike" class="pjh-container">
	<div class="title">
		<div class="info">猜你喜欢</div>
	</div>
	<ul>
		<li>
			<a href="seller.html">
				<img src="/taxation-web/images/services/12.jpg" class="head" />
			</a>
			<h4><a href="seller.html">铜仁****税务所</a></h4>
			<p>
				<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
			</p>
			<p>
				<strong>￥</strong>：999.00
				<a href="seller.html" class="contact">购买服务</a>
			</p>
			<div class="clearfix"></div>
		</li>
		<li>
			<a href="seller.html">
				<img src="/taxation-web/images/services/15.jpg" class="head" />
			</a>
			<h4><a href="seller.html">铜仁****税务所</a></h4>
			<p>
				<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
			</p>
			<p>
				<strong>￥</strong>：999.00
				<a href="seller.html" class="contact">购买服务</a>
			</p>
			<div class="clearfix"></div>
		</li>
		<li>
			<a href="seller.html">
				<img src="/taxation-web/images/services/18.jpg" class="head" />
			</a>
			<h4><a href="seller.html">铜仁****税务所</a></h4>
			<p>
				<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
			</p>
			<p>
				<strong>￥</strong>：999.00
				<a href="seller.html" class="contact">购买服务</a>
			</p>
			<div class="clearfix"></div>
		</li>
		<li>
			<a href="seller.html">
				<img src="/taxation-web/images/services/20.jpg" class="head" />
			</a>
			<h4><a href="seller.html">铜仁****税务所</a></h4>
			<p>
				<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
			</p>
			<p>
				<strong>￥</strong>：999.00
				<a href="seller.html" class="contact">购买服务</a>
			</p>
			<div class="clearfix"></div>
		</li>
		<li>
			<a href="seller.html">
				<img src="/taxation-web/images/services/21.jpg" class="head" />
			</a>
			<h4><a href="seller.html">铜仁****税务所</a></h4>
			<p>
				<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
			</p>
			<p>
				<strong>￥</strong>：999.00
				<a href="seller.html" class="contact">购买服务</a>
			</p>
			<div class="clearfix"></div>
		</li>
		<li>
			<a href="seller.html">
				<img src="/taxation-web/images/services/22.jpg" class="head" />
			</a>
			<h4><a href="seller.html">铜仁****税务所</a></h4>
			<p>
				<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
			</p>
			<p>
				<strong>￥</strong>：999.00
				<a href="seller.html" class="contact">购买服务</a>
			</p>
			<div class="clearfix"></div>
		</li>
	</ul>
</div>
<div class="clearfix"></div>