<div class="slider pull-left" id="banner">
	<ul class="slider-box">
		<li>
			<a href="javascript: void(0)">
				<img src="/taxation-web/images/slider/1.jpg" title="捷迅财税服务网" alt="捷迅财税服务网" />
			</a>
		</li>
		<li>
			<a href="javascript: void(0)">
				<img src="/taxation-web/images/slider/2.jpg" title="捷迅财税服务网" alt="捷迅财税服务网" />
			</a>
		</li>
		<li>
			<a href="javascript: void(0)">
				<img src="/taxation-web/images/slider/3.jpg" title="捷迅财税服务网" alt="捷迅财税服务网" />
			</a>
		</li>
		<li>
			<a href="javascript: void(0)">
				<img src="/taxation-web/images/slider/4.jpg" title="捷迅财税服务网" alt="捷迅财税服务网" />
			</a>
		</li>
		<li>
			<a href="javascript: void(0)">
				<img src="/taxation-web/images/slider/5.jpg" title="捷迅财税服务网" alt="捷迅财税服务网" />
			</a>
		</li>
	</ul>
	<div class="clearfix"></div>
	<ul class="slider-num">
		<li class="selected"></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<div class="clearfix"></div>
	<span class="prev"><i class="fa fa-angle-left"></i></span>
	<span class="next"><i class="fa fa-angle-right"></i></span>
</div>