<!-- PJH 1102 begin 导航菜单部分 -->
<div id="navbar">
	<div class="pjh-container">
		<!-- 分类导航 -->
		<div id="categorys">
			<dt>
				<a href="javascript: void(0)">企业全程服务</a>
			</dt>
			<ul class="site-list">
				<li>
					<a href="javascript: void(0)"><i class="fa fa-asterisk"></i> 公司注册</a><i class="fa fa-angle-right"></i>
					<div class="bg"></div>
					<dl>
						<dd><a href="servicelist.html">商标注册</a></dd>
						<dd><a href="servicelist.html">开办公司</a></dd>
						<dd><a href="servicelist.html">公司注册</a></dd>
						<dd><a href="servicelist.html">商标注册</a></dd>
						<dd><a href="servicelist.html">开办公司</a></dd>
						<dd><a href="servicelist.html">公司注册</a></dd>
					</dl>
				</li>
				<li>
					<a href="javascript: void(0)"><i class="fa fa-male"></i> 财税服务</a><i class="fa fa-angle-right"></i>
					<div class="bg"></div>
					<dl>
						<dd><a href="servicelist.html">金融服务</a></dd>
						<dd><a href="servicelist.html">会计服务</a></dd>
						<dd><a href="servicelist.html">财务服务</a></dd>
						<dd><a href="servicelist.html">税务代理</a></dd>
						<dd><a href="servicelist.html">税务登记</a></dd>
						<dd><a href="servicelist.html">税务登记</a></dd>
					</dl>
				</li>
				<li>
					<a href="javascript: void(0)"><i class="fa fa-trophy"></i> 办公用品</a><i class="fa fa-angle-right"></i>
					<div class="bg"></div>
					<dl>
						<dd><a href="servicelist.html">电脑整机</a></dd>
						<dd><a href="servicelist.html">电脑配件</a></dd>
						<dd><a href="servicelist.html">外设产品</a></dd>
						<dd><a href="servicelist.html">游戏设备</a></dd>
						<dd><a href="servicelist.html">网络产品</a></dd>
						<dd><a href="servicelist.html">服务产品</a></dd>
					</dl>
				</li>
				<li>
					<a href="javascript: void(0)"><i class="fa fa-trophy"></i> 免费服务</a><i class="fa fa-angle-right"></i>
					<div class="bg"></div>
					<dl>
						<dd><a href="servicelist.html">免费服务</a></dd>
						<dd><a href="servicelist.html">免费服务</a></dd>
						<dd><a href="servicelist.html">免费服务</a></dd>
						<dd><a href="servicelist.html">免费服务</a></dd>
						<dd><a href="servicelist.html">免费服务</a></dd>
						<dd><a href="servicelist.html">免费服务</a></dd>
					</dl>
				</li>
			</ul>
		</div>
		<!-- 顶部专题导航 -->
		<div id="sitemenu">
			<ul>
				<li><a href="javascript: void(0)" ui-sref="index">首页</a></li>
				<li><a href="javascript: void(0)" ui-sref="index.busregister">公司注册</a></li>
				<li><a href="javascript: void(0)" ui-sref="index.taxservice">财税服务</a></li>
				<li><a href="javascript: void(0)" ng-click="gotoTaxationService()">办公商城</a></li>
				<li><a href="javascript: void(0)" ng-click="gotoTaxationService()">免费服务</a></li>
			</ul>
		</div>
		<!-- 网站图标部分 -->
		<div class="pull-right" style="margin-right:20px;">
			<!-- <img src="/taxation-web/images/short-icon.jpg" alt="捷迅财税服务网" title="捷迅财税服务网" /> -->
		</div>
	</div>
</div>
<div class="clearfix"></div>
<!-- PJH 1102 end 导航菜单部分 -->
