<div id="recommends" class="pjh-container">
	<ul class="tab-nav">
		<li class="selected"><a href="recomSellers.html">推荐服务商</a></li>
		<li><a href="recomService.html">推荐服务</a></li>
	</ul>
	<div class="clearfix"></div>
	<ul class="tab-panel">
		<li class="selected">
			<dl>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/11.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/12.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/13.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/14.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/16.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/16.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/17.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/18.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/19.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
				<dd>
					<a href="seller.html">
						<img src="/taxation-web/images/services/20.jpg" class="head" />
					</a>
					<h4><a href="seller.html">铜仁****税务所</a></h4>
					<p>
						<strong>星级</strong>：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						<i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
					</p>
					<p>
						<strong>￥</strong>：999.00
						<a href="seller.html" class="contact">购买服务</a>
					</p>
					<div class="clearfix"></div>
				</dd>
			</dl>
		</li>
	</ul>
</div>
<div class="clearfix"></div>