<div id="rtoolbar">
	<ul class="rtoolbar-top">
		<li class="rtoolbar-list" onclick="foldToolbar(this,'seller')">
			<i class="fa fa-home"></i><br/>捷<br/>迅<br/>财<br/>税<br/>服<br/>务<br/>网</p>
		</li>
		<li class="rtoolbar-list" onclick="foldToolbar(this,'service')">
			<div class="list-text-intro">
				<i class="fa fa-caret-right"></i>
				<span>服务</span>
			</div>
			<i class="fa fa-list-ul"></i>
		</li>
		<li class="rtoolbar-list" onclick="foldToolbar(this,'collect')">
			<div class="list-text-intro">
				<i class="fa fa-caret-right"></i>
				<span>收藏</span>
			</div>
			<i class="fa fa-heart-o"></i>
		</li>
		<li class="rtoolbar-list" onclick="foldToolbar(this,'consult')">
			<div class="list-text-intro">
				<i class="fa fa-caret-right"></i>
				<span>咨询</span>
			</div>
			<i class="fa fa-male"></i>
		</li>
		<li class="rtoolbar-list" onclick="foldToolbar(this,'openSeller')">
			<div class="list-text-intro">
				<i class="fa fa-caret-right"></i>
				<span>开店</span>
			</div>
			<i class="fa fa-suitcase"></i>
		</li>
	</ul>
	<div class="rtoolbar-content">

	</div>
	<div class="rtoolbar-bottom">
		<div class="rtoolbar-list j-rtoolbar-twobarCodes" onclick="foldToolbar(this,'app')">
			<i class="fa fa-qrcode" style="font-size: 28px;"></i>
			<div class="codes-poptip">
				<i class="fa fa-caret-right"></i>
				<span>手机捷讯网</span>
			</div>
		</div>
		<div class="rtoolbar-list j-rtoolbar-gotoUp">
			<a href="javascript: void(0)" onclick="goTop()"><i class="fa fa-chevron-up"></i></a>
		</div>
	</div>
</div>