<!--Logo-->
<div class="pjh-container">
    <div ui-view="logo"></div>
    <!--搜索框-->
    <div ui-view="searach"></div>
</div>
<div class="clearfix"></div>
<!--导航菜单-->
<div ui-view="menu"></div>
<!--左侧浮动楼层导航-->
<div ui-view="lfloorbar"></div>
<div ui-view="rtoolbar"></div>
<div class="pjh-container">
    <!--首页轮播-->
    <div ui-view="hcarousel"></div>
    <!--右侧浮动-->
    <div ui-view="rfloat"></div>
</div>
<!--今日推荐-->
<div ui-view="torecommend"></div>
<!--楼层导航-->
<div ui-view="floornavi"></div>
<!--猜你喜欢-->
<div ui-view="guesslike"></div>
<!--推荐服务商/推荐服务Tab切换-->
<div ui-view="recommendservicer"></div>
