	<div class="left-layout pull-left">
			<ul>
				<li style="background-color: #f7f7f7;">
					<div class="fold">
						<a href="ucenter.html"><i class="fa fa-home"></i> 我的主页</a>
					</div>
					<dl>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoBaseInfo()">基本信息</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoAccountSecurity()">账号安全</a>
						</dd>
					</dl>
				</li>
				<li>
					<div class="fold">
						<a href="javascript: void(0)"><i class="fa fa-reorder"></i> 订单中心</a>
						<span class="fa fa-angle-up pull-right"></span>
					</div>
					<dl>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoOrderList()">我的订单</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoMyJxComment()">评价晒单</a>
						</dd>
					</dl>
				</li>
				<li>
					<div class="fold">
						<a href="javascript: void(0)"><i class="fa fa-clone"></i> 关注中心</a>
						<span class="fa fa-angle-up pull-right"></span>
					</div>
					<dl>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoCollectGoods()">关注的商品</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoCollectStore()">关注的店铺</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoWatchHistory()">浏览历史</a>
						</dd>
					</dl>
				</li>
				<li>
					<div class="fold">
						<a href="javascript: void(0)"><i class="fa fa-user-secret"></i> 客户服务</a>
						<span class="fa fa-angle-up pull-right"></span>
					</div>
					<dl>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoNoPage()">退换货</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoNoPage()">价格保护</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoNoPage()">意见建议</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoNoPage()">购买咨询</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoNoPage()">交易纠纷</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoNoPage()">我的发票</a>
						</dd>
						<dd>
							<a href="javascript: void(0)" ng-click="gotoNoPage()">举报中心</a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>