<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="google-site-verification" content="EGpeU8lMdt7x_LsqOd7MAXeYZW9ZKf1MML-n6C4emtA" />
    <meta http-equiv="Cache-Control" content="no-transform " />
	<meta name="Keywords" content="捷迅财税服务网,比价网,导购网站平台,数码比价,家电比价，购物比价" />
    <meta name="Description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>捷迅财税服务网-服务详情页</title>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/style.css" rel="stylesheet" type="text/css">
	<link href="assets/css/common.css" rel="stylesheet" type="text/css">
	<link href="assets/pagecss/buy_step.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- JustFresh 2017-04-19 begin 右侧浮动导航 -->
<div id="rtoolbar">
  	<ul class="rtoolbar-top"> 
   		<li class="rtoolbar-list" onclick="foldToolbar(this,'seller')"> 
   			<i class="fa fa-home"></i><br/>捷<br/>迅<br/>财<br/>税<br/>服<br/>务<br/>网</p> 
   		</li> 
   		<li class="rtoolbar-list" onclick="foldToolbar(this,'service')"> 
    		<div class="list-text-intro"> 
     			<i class="fa fa-caret-right"></i> 
     			<span>服务</span> 
    		</div> 
    		<i class="fa fa-list-ul"></i> 
    	</li>
    	<li class="rtoolbar-list" onclick="foldToolbar(this,'collect')"> 
    		<div class="list-text-intro"> 
     			<i class="fa fa-caret-right"></i> 
     			<span>收藏</span> 
    		</div> 
    		<i class="fa fa-heart-o"></i> 
    	</li>
    	<li class="rtoolbar-list" onclick="foldToolbar(this,'consult')"> 
    		<div class="list-text-intro"> 
     			<i class="fa fa-caret-right"></i> 
     			<span>咨询</span> 
    		</div> 
    		<i class="fa fa-male"></i> 
    	</li>
    	<li class="rtoolbar-list" onclick="foldToolbar(this,'openSeller')"> 
    		<div class="list-text-intro"> 
     			<i class="fa fa-caret-right"></i> 
     			<span>开店</span> 
    		</div> 
    		<i class="fa fa-suitcase"></i> 
    	</li> 
  	</ul>
  	<div class="rtoolbar-content">

  	</div>
  	<div class="rtoolbar-bottom">        
  		<div class="rtoolbar-list j-rtoolbar-twobarCodes" onclick="foldToolbar(this,'app')">
  			<i class="fa fa-qrcode" style="font-size: 28px;"></i>
  			<div class="codes-poptip">
  				<i class="fa fa-caret-right"></i>   
  				<span>手机捷讯网</span>
  			</div>               
  		</div>
  		<div class="rtoolbar-list j-rtoolbar-gotoUp">
  			<a href="javascript: void(0)" onclick="goTop()"><i class="fa fa-chevron-up"></i></a>
  		</div>
  	</div>
</div>
<!-- JustFresh 2017-04-19 end 右侧浮动导航 -->

<!-- PJH 1102 begin 顶部导航 -->
<div id="top-nav">
	<div class="pjh-container">
		<!-- 顶部左侧导航 -->
		<ul id="tl-site-nav">
			<li>欢迎来到<strong>捷迅财税服务网!</strong></li>
			<li>[<a href="login.html">请登录</a>]</li>
			<li>[<a href="reg_step1.html">免费注册</a>]</li>
		</ul>
		<!-- 顶部右侧导航 -->
		<ul id="tr-site-nav">
			<li>
				<a href="#"><span class="fa fa-home"></span> 服务商管理</a><i></i>
				<div class="top-nav-bg">
					<ul>
						<li>
							<a href="#">服务商入驻</a>
						</li>
						<li><a href="#">服务商登录</a></li>
					</ul>
				</div>
			</li>
			<li class="spanjj">|</li>
			<li>
				<a href="#"><span class="fa fa-mobile-phone"></span> 手机捷迅</a><i></i>
				<div class="top-nav-bg">
					<ul>
						<li>
							<a href="#">Android版本</a>
						</li>
						<li><a href="#">IOS版本</a></li>
					</ul>
				</div>
			</li>
			<li class="spanjj">|</li>
			<li>
				<a href="#"><span class="fa fa-reorder"></span> 我的订单</a><i></i>
				<div class="top-nav-bg">
					<ul>
						<li>
							<a href="#">待付款订单</a>
						</li>
						<li><a href="#">待确认收货</a></li>
						<li><a href="#">待评价订单</a></li>
					</ul>
				</div>
			</li>
			<li class="spanjj">|</li>
			<li>
				<a href="#"><span class="fa fa-flag"></span> 购物省钱助手</a><i></i>
				<div class="top-nav-bg">
					<ul>
						<li>
							<a href="#">Android版本</a>
						</li>
						<li><a href="#">IOS版本</a></li>
					</ul>
				</div>
			</li>
			<li class="spanjj">|</li>
			<li>
				<a href="#">新手帮助</a><i></i>
				<div class="top-nav-bg new-user-help">
					<ul>
						<li>
							<a href="#">Android版本</a>
						</li>
						<li><a href="#">IOS版本</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="clearfix"></div>
<!-- PJH 1102 end 顶部导航 -->

<!-- JustFresh 20170615 begin 分步骤生成订单开始 -->
<div class="buy-step pjh-container">
	<header class="ncc-head-layout">
		<div class="site-logo"><a href="index.html">
			<img src="assets/images/logo2.png" class="pull-left"></a>
		</div>
	    <ul class="pull-right">
		  	<li class="current"><i class="fa fa-cart-plus"></i>
		    	<p>我的购物车</p>
		    	<sub></sub>
		    	<div class="hr"></div>
		  	</li>
		  	<li class=""><i class="fa fa-edit"></i>
		    <p>确认订单信息</p>
		    <sub></sub>
		    <div class="hr"></div>
		  	</li>
		  <li class=""><i class="fa fa-credit-card"></i>
		    <p>支付提交</p>
		    <sub></sub>
		    <div class="hr"></div>
		  </li>
		  <li class=""><i class="fa fa-heart"></i>
		    <p>订单完成</p>
		    <sub></sub>
		    <div class="hr"></div>
		  </li>
		  <li class=""><i class="fa fa-comment"></i>
		    <p>评价</p>
		    <sub></sub>
		    <div class="hr"></div>
		  </li>
		</ul>
	</header>
	<div class="clearfix"></div>

	<div class="main">
		<div class="title">
			<h3>我的购物车</h3>
			<p>查看购物车商品清单，增加减少商品数量，并勾选想要的商品进入下一步操作。</p>
		</div>
		<table width="100%">
			<thead>
				<tr>
					<td><input type="checkbox" name="" id="" value="1"/> 全选</td>
					<td width="50%">服务</td>
					<td width="10%">单价</td>
					<td width="10%">数量</td>
					<td width="10%">小计</td>
					<td width="10%">操作</td>
				</tr>
				<tr class="provider-info">
					<td colspan="4">
						<span style="margin-left: 15px;color: #333;">铜仁****税务局</span>
					</td>
					<td colspan="2"><span style="color: #c33610;">98元免邮费</span></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2">
						<input type="checkbox" name="goods" id="" value="1" class="check-radio" />
						<img src="assets/images/services/21.jpg" class="thumb" />
						<span><a href="service.html">吉汇税务有限公司****服务</a></span>
					</td>
					<td>￥1000.00</td>
					<td>
						<a href="javascript: void(0)" onclick="" class="opt reduce">-</a>
						<input type="text" value="1" name="" class="number" />
						<a href="javascript: void(0)" onclick="" class="opt add">+</a>
					</td>
					<td>￥1000.00</td>
					<td>
						<a href="javascript: void(0)" onclick="">删除</a>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="checkbox" name="goods" id="" value="1" class="check-radio" />
						<img src="assets/images/services/12.jpg" class="thumb" />
						<span><a href="service.html">吉汇税务有限公司****服务</a></span>
					</td>
					<td>￥1000.00</td>
					<td>
						<a href="javascript: void(0)" onclick="" class="opt reduce">-</a>
						<input type="text" value="1" name="" class="number" />
						<a href="javascript: void(0)" onclick="" class="opt add">+</a>
					</td>
					<td>￥1000.00</td>
					<td>
						<a href="javascript: void(0)" onclick="">删除</a>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="checkbox" name="goods" id="" value="1" class="check-radio" />
						<img src="assets/images/services/11.jpg" class="thumb" />
						<span><a href="service.html">吉汇税务有限公司****服务</a></span>
					</td>
					<td>￥1000.00</td>
					<td>
						<a href="javascript: void(0)" onclick="" class="opt reduce">-</a>
						<input type="text" value="1" name="" class="number" />
						<a href="javascript: void(0)" onclick="" class="opt add">+</a>
					</td>
					<td>￥1000.00</td>
					<td>
						<a href="javascript: void(0)" onclick="">删除</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">
						<span style="margin-right: 25px;">商品总价（不含运费）<b>$3000.00</b> 元</span>
					</td>
				</tr>
			</tfoot>
		</table>

		<a href="buy_step2.html" class="pull-right go-next" title="下一步，确认订单信息">
			<i class="fa fa-edit"></i> 下一步，确认订单信息
		</a>
	</div>
</div>
<!-- JustFresh 20170615 begin 分步骤生成订单结束 -->
<div class="clearfix"></div>

<!-- PJH 1113 begin 底部文章部分 -->
<div class="pjh-container" style="margin-bottom: 20px;">
	<ul id="bottom-articles" class="pull-left border-right">
		<li>
			<dl>
				<dt><a href="#">帮助中心</a></dt>
				<dd><a href="#">如何搜索</a></dd>
				<dd><a href="#">积分兑换说明</a></dd>
				<dd><a href="#">我要买</a></dd>
				<dd><a href="#">如何注册会员</a></dd>
				<dd><a href="#">如何注册会员</a></dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><a href="#">支付方式</a></dt>
				<dd><a href="#">如何注册支付宝</a></dd>
				<dd><a href="#">网银支付</a></dd>
				<dd><a href="#">分期付款</a></dd>
				<dd><a href="#">货到付款</a></dd>
				<dd><a href="#">如何注册会员</a></dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><a href="#">售后服务</a></dt>
				<dd><a href="#">返修/退换货</a></dd>
				<dd><a href="#">联系卖家</a></dd>
				<dd><a href="#">退换货政策</a></dd>
				<dd><a href="#">退换货流程</a></dd>
				<dd><a href="#">如何注册会员</a></dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><a href="#">客服中心</a></dt>
				<dd><a href="#">修改会员资料</a></dd>
				<dd><a href="#">修改收货地址</a></dd>
				<dd><a href="#">修改会员密码</a></dd>
				<dd><a href="#">修改支付密码</a></dd>
				<dd><a href="#">如何注册会员</a></dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><a href="#">购物指南</a></dt>
				<dd><a href="#">购物流程</a></dd>
				<dd><a href="#">会员介绍</a></dd>
				<dd><a href="#">常见问题</a></dd>
				<dd><a href="#">大家电</a></dd>
				<dd><a href="#">如何注册会员</a></dd>
			</dl>
		</li>
	</ul>
	<div class="bottom-help pull-right">
		<div class="phone-number">
			<i class="fa fa-mobile"></i>
			400-872-7575
		</div>
		<div class="clearfix"></div>
		<div class="email-address">
			<i class="fa fa-envelope-o"></i>
			991058975@qq.com
		</div>
		<div class="clearfix"></div>
		<div class="download-apk">
			<ul>
				<li>
					<dl>
						<dt><a href="#">Andorid版</a></dt>
						<dd>
							<a href="#"><img src="assets/images/android.png" width="75px" height="75px" /></a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><a href="#">IOS版</a></dt>
						<dd>
							<a href="#"><img src="assets/images/ios.png" width="75px" height="75px" /></a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<!-- PJH 1113 end 底部文章部分 -->
<!-- PJH 1113 begin 友情链接及版权部分 -->
<div id="site-version" class="pjh-container border-top">
	<div class="links">
		<a href="#">关于我们</a>|
		<a href="#">联系我们</a>|
		<a href="#">营销中心</a>|
		<a href="#">手机捷迅财税服务网</a>|
		<a href="#">友情链接</a>|
		<a href="#">销售联盟</a>|
		<a href="#">捷迅财税服务网社区</a>|
		<a href="#">English Site</a>
	</div>
	<div class="copyright">
		<span>Copyright © 2015-2045 *****电子商务有限公司 版权所有</span>
		<span>黔ICP备15003552号</span>
		<span><a href="#">站长统计</a></span>
	</div>
</div>
<!-- PJH 1113 end 友情链接及版权部分 -->

<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/common.js"></script>
<script type="text/javascript" src="assets/pagejs/buy_step.js"></script>
</body>
</html>