<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taxation.dao.CityAreaMapper" >
  <resultMap id="BaseResultMap" type="com.taxation.model.CityArea" >
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="pcode" property="pcode" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="pshortname" property="pshortname" jdbcType="VARCHAR" />
    <result column="plevel" property="plevel" jdbcType="CHAR" />
    <result column="parentid" property="parentid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pid, pcode, pname, pshortname, plevel, parentid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.taxation.model.CityAreaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_city_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.taxation.model.CityAreaExample" >
    delete from t_city_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taxation.model.CityArea" >
    insert into t_city_area (pid, pcode, pname, 
      pshortname, plevel, parentid
      )
    values (#{pid,jdbcType=VARCHAR}, #{pcode,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR}, 
      #{pshortname,jdbcType=VARCHAR}, #{plevel,jdbcType=CHAR}, #{parentid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.taxation.model.CityArea" >
    insert into t_city_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="pcode != null" >
        pcode,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="pshortname != null" >
        pshortname,
      </if>
      <if test="plevel != null" >
        plevel,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null" >
        #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pshortname != null" >
        #{pshortname,jdbcType=VARCHAR},
      </if>
      <if test="plevel != null" >
        #{plevel,jdbcType=CHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taxation.model.CityAreaExample" resultType="java.lang.Integer" >
    select count(*) from t_city_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_city_area
    <set >
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.pcode != null" >
        pcode = #{record.pcode,jdbcType=VARCHAR},
      </if>
      <if test="record.pname != null" >
        pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.pshortname != null" >
        pshortname = #{record.pshortname,jdbcType=VARCHAR},
      </if>
      <if test="record.plevel != null" >
        plevel = #{record.plevel,jdbcType=CHAR},
      </if>
      <if test="record.parentid != null" >
        parentid = #{record.parentid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_city_area
    set pid = #{record.pid,jdbcType=VARCHAR},
      pcode = #{record.pcode,jdbcType=VARCHAR},
      pname = #{record.pname,jdbcType=VARCHAR},
      pshortname = #{record.pshortname,jdbcType=VARCHAR},
      plevel = #{record.plevel,jdbcType=CHAR},
      parentid = #{record.parentid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  	<!-- 分页查询 -->
	<select id="selectWithPageByExample" resultMap="BaseResultMap"
		parameterType="map">
		select * from t_city_area
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
		<if test="example.orderByClause != null">
			order by
			${example.orderByClause} ${params.order}
		</if>
		limit ${params.rowStart}, ${params.pageSize}
	</select>
</mapper>