<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taxation.dao.PrividerScopeRuleDao" >
  <resultMap id="BaseResultMap" type="com.taxation.bean.PrividerScopeRuleEntity" >
    <id column="rule_code" property="ruleCode" jdbcType="VARCHAR" />
    <result column="rule_proportion" property="ruleProportion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rule_code, rule_proportion
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_privider_scope_rule
    where rule_code = #{ruleCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_privider_scope_rule
    where rule_code = #{ruleCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.taxation.bean.PrividerScopeRuleEntity" >
    insert into t_privider_scope_rule (rule_code, rule_proportion)
    values (#{ruleCode,jdbcType=VARCHAR}, #{ruleProportion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.taxation.bean.PrividerScopeRuleEntity" >
    insert into t_privider_scope_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleCode != null" >
        rule_code,
      </if>
      <if test="ruleProportion != null" >
        rule_proportion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleCode != null" >
        #{ruleCode,jdbcType=VARCHAR},
      </if>
      <if test="ruleProportion != null" >
        #{ruleProportion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.taxation.bean.PrividerScopeRuleEntity" >
    update t_privider_scope_rule
    <set >
      <if test="ruleProportion != null" >
        rule_proportion = #{ruleProportion,jdbcType=VARCHAR},
      </if>
    </set>
    where rule_code = #{ruleCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taxation.bean.PrividerScopeRuleEntity" >
    update t_privider_scope_rule
    set rule_proportion = #{ruleProportion,jdbcType=VARCHAR}
    where rule_code = #{ruleCode,jdbcType=VARCHAR}
  </update>
</mapper>