<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taxation.dao.SmsNoticeDao" >
  <resultMap id="BaseResultMap" type="com.taxation.bean.SmsNoticeEntity" >
    <id column="sms_notice_id" property="smsNoticeId" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="send_context" property="sendContext" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="send_returncode" property="sendReturncode" jdbcType="VARCHAR" />
    <result column="send_returnMessage" property="sendReturnmessage" jdbcType="VARCHAR" />
    <result column="send_count" property="sendCount" jdbcType="INTEGER" />
    <result column="send_fee" property="sendFee" jdbcType="VARCHAR" />
    <result column="fee_unit" property="feeUnit" jdbcType="VARCHAR" />
    <result column="send_id" property="sendId" jdbcType="VARCHAR" />
    <result column="notice_type" property="noticeType" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    sms_notice_id, user_phone, send_context, send_time, send_returncode, send_returnMessage, 
    send_count, send_fee, fee_unit, send_id, notice_type, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sms_notice
    where sms_notice_id = #{smsNoticeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sms_notice
    where sms_notice_id = #{smsNoticeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.taxation.bean.SmsNoticeEntity" >
    insert into t_sms_notice (sms_notice_id, user_phone, send_context, 
      send_time, send_returncode, send_returnMessage, 
      send_count, send_fee, fee_unit, 
      send_id, notice_type, create_time
      )
    values (#{smsNoticeId,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{sendContext,jdbcType=VARCHAR}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{sendReturncode,jdbcType=VARCHAR}, #{sendReturnmessage,jdbcType=VARCHAR}, 
      #{sendCount,jdbcType=INTEGER}, #{sendFee,jdbcType=VARCHAR}, #{feeUnit,jdbcType=VARCHAR}, 
      #{sendId,jdbcType=VARCHAR}, #{noticeType,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.taxation.bean.SmsNoticeEntity" >
    insert into t_sms_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smsNoticeId != null" >
        sms_notice_id,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="sendContext != null" >
        send_context,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="sendReturncode != null" >
        send_returncode,
      </if>
      <if test="sendReturnmessage != null" >
        send_returnMessage,
      </if>
      <if test="sendCount != null" >
        send_count,
      </if>
      <if test="sendFee != null" >
        send_fee,
      </if>
      <if test="feeUnit != null" >
        fee_unit,
      </if>
      <if test="sendId != null" >
        send_id,
      </if>
      <if test="noticeType != null" >
        notice_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smsNoticeId != null" >
        #{smsNoticeId,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="sendContext != null" >
        #{sendContext,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendReturncode != null" >
        #{sendReturncode,jdbcType=VARCHAR},
      </if>
      <if test="sendReturnmessage != null" >
        #{sendReturnmessage,jdbcType=VARCHAR},
      </if>
      <if test="sendCount != null" >
        #{sendCount,jdbcType=INTEGER},
      </if>
      <if test="sendFee != null" >
        #{sendFee,jdbcType=VARCHAR},
      </if>
      <if test="feeUnit != null" >
        #{feeUnit,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="noticeType != null" >
        #{noticeType,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.taxation.bean.SmsNoticeEntity" >
    update t_sms_notice
    <set >
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="sendContext != null" >
        send_context = #{sendContext,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendReturncode != null" >
        send_returncode = #{sendReturncode,jdbcType=VARCHAR},
      </if>
      <if test="sendReturnmessage != null" >
        send_returnMessage = #{sendReturnmessage,jdbcType=VARCHAR},
      </if>
      <if test="sendCount != null" >
        send_count = #{sendCount,jdbcType=INTEGER},
      </if>
      <if test="sendFee != null" >
        send_fee = #{sendFee,jdbcType=VARCHAR},
      </if>
      <if test="feeUnit != null" >
        fee_unit = #{feeUnit,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        send_id = #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="noticeType != null" >
        notice_type = #{noticeType,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sms_notice_id = #{smsNoticeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taxation.bean.SmsNoticeEntity" >
    update t_sms_notice
    set user_phone = #{userPhone,jdbcType=VARCHAR},
      send_context = #{sendContext,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      send_returncode = #{sendReturncode,jdbcType=VARCHAR},
      send_returnMessage = #{sendReturnmessage,jdbcType=VARCHAR},
      send_count = #{sendCount,jdbcType=INTEGER},
      send_fee = #{sendFee,jdbcType=VARCHAR},
      fee_unit = #{feeUnit,jdbcType=VARCHAR},
      send_id = #{sendId,jdbcType=VARCHAR},
      notice_type = #{noticeType,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where sms_notice_id = #{smsNoticeId,jdbcType=VARCHAR}
  </update>
</mapper>