<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taxation.dao.SystemUserDao" >
  <resultMap id="BaseResultMap" type="com.taxation.bean.SystemUserEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_level" property="userLevel" jdbcType="VARCHAR" />
    <result column="user_position" property="userPosition" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="CHAR" />
    <result column="login_time" property="loginTime" jdbcType="DATE" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_code, user_password, user_name, user_phone, user_level, user_position, user_status, 
    login_time, login_ip, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_system_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_system_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.taxation.bean.SystemUserEntity" >
    insert into t_system_user (id, user_code, user_password, 
      user_name, user_phone, user_level, 
      user_position, user_status, login_time, 
      login_ip, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userLevel,jdbcType=VARCHAR}, 
      #{userPosition,jdbcType=VARCHAR}, #{userStatus,jdbcType=CHAR}, #{loginTime,jdbcType=DATE}, 
      #{loginIp,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.taxation.bean.SystemUserEntity" >
    insert into t_system_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userLevel != null" >
        user_level,
      </if>
      <if test="userPosition != null" >
        user_position,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="loginIp != null" >
        login_ip,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="userPosition != null" >
        #{userPosition,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=CHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=DATE},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.taxation.bean.SystemUserEntity" >
    update t_system_user
    <set >
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        user_level = #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="userPosition != null" >
        user_position = #{userPosition,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=CHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=DATE},
      </if>
      <if test="loginIp != null" >
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taxation.bean.SystemUserEntity" >
    update t_system_user
    set user_code = #{userCode,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=VARCHAR},
      user_position = #{userPosition,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=CHAR},
      login_time = #{loginTime,jdbcType=DATE},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getSystemUserCount" resultType="int">
    select count(1)
    from t_system_user
  </select>

  <select id="getSystemUserByPage" resultMap="BaseResultMap" parameterType="int">
    select <include refid="Base_Column_List" />
    from t_system_user
    order by id desc
    limit #{0,jdbcType=INTEGER},#{1,jdbcType=INTEGER}
  </select>

  <update id="deleteSystemUsers" parameterType="java.lang.String">
    delete from t_system_user where id in
    <foreach collection="array" item="systemUserIds"  open="(" separator="," close=")">
        #{systemUserIds}
      </foreach>
  </update>

	<update id="changeStatus" parameterType="java.lang.String" >
    	UPDATE t_system_user
		SET user_status = #{user_status}
		WHERE id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>